body {
  background-color: transparent !important;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  height: auto;
}

.jumbotron {
  background-color: transparent !important;
}

img {
  max-width: 100%;
  height: auto;
  padding: 20px;
}

a {
  color: white;
}


.icon-sosmed {
  max-width: 100%;
  height: auto;
  width: 100px;
}

#container {
  background-color: white;
  max-width: 100%;
  height: auto;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#content {
  padding: 20px;
  max-width: 100%;
  height: auto;
}

#main {
  max-width: 100%;
  height: auto;
}

#main-one, #main-two {
  max-width: 100%;
  height: auto;
  padding: 40px;
}

#footer {
  padding: 10px;
  max-width: 100%;
  height: auto;
  clear: both;
  text-align: left;
  background-color: #2b303a;
  color: white;
}
