{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block meta %}
    {% endblock meta %}
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/">About</a>
                <a class="nav-item nav-link" href="education">Education</a>
                <a class="nav-item nav-link" href="contacts">Contacts</a>
                <a class="nav-item nav-link" href="https://amzu-story1.herokuapp.com" target="_blank">Story 1</a>
            </div>
        </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <img src="{% static 'img/foto-amzu.jpg' %}" width="25%" class="rounded-pill">
      <h1 class="display-4 mt-2">Ammar Muhammad Zufar Misbahussalam</h1>
      <p class="lead">Ilmu Komputer UI 2019</p>
    </div>
  </div>

  {% block content %}
  {% endblock content %}
  <div id="footer">
      <p>amzufar &copy; 2020</p>
  </div>
</body>

</html>
