{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Amzufar - Contacts</title>
{% endblock meta %}

{% block content %}
<div id="container">
    <div id="content">
        <div id="main">
            <div id="main-one">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h2 class="card-title">Contacts</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <a href="https://twitter.com/Amzufar" target="_blank">
                                        <img src="{% static 'img/icon-twitter.png' %}" class="icon-sosmed">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <a href="mailto:amzufar@gmail.com" target="_blank">
                                        <img src="{% static 'img/icon-gmail.png' %}" class="icon-sosmed">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
