{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Amzufar - Education</title>
{% endblock meta %}

{% block content %}
<div id="container">
    <div id="content">
        <div id="main">
            <div id="main-one">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h2 class="card-title">Education</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h3>Universitas Indonesia</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <p>2019 - Now</p>      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h3>SMAN 2 Tangerang Selatan</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <p>2016 - 2019</p>      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h3>SMPN 2 Tangerang Selatan</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <p>2013 - 2016</p>      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h3>SD Islam Raudhah BSD</h3>      
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <p>2011 - 2013</p>      
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <h3>SD Sunan Bonang</h3>      
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col text-center" id="row-content">
                                    <p>2007 - 2011</p>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
