{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Amzufar</title>
{% endblock meta %}

{% block content %}
<div id="container">
  <div id="content">
      <div id="main">
          <div id="main-one">
              <div class="container">
                  <div class="row">
                      <div class="col">
                          <div class="row">
                              <div class="col text-center" id="row-content">
                                  <h2 class="card-title">About Me</h2>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col text-center" id="row-content">
                                  <p class="card-text">Hello, my name is Ammar Muhammad Zufar Misbahussalam, but you can call me Ammar. I consider myself as an optimistic person who always has a positive outlook on life. I'm very passionate in all aspects of life, have certain traits which acquires a good sense of humour, discipline and a strong work ethic. I also like to play some music, mainly on guitar.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock content %}
